name: Docker Image Build and Push

on:
  workflow_run:
    workflows: ["Build CI with GitHub Actions"]
    types:
      - completed

jobs:
  docker:
    runs-on: ubuntu-latest
    needs: build  # Ensure this job runs after the build job
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Get run number from previous workflow
        uses: dawidd6/action-download-artifact@v2
        with:
          workflow: "Build CI with GitHub Actions"
          run_id: ${{ github.event.workflow_run.id }}
          name: run_number

      - name: Set run number
        run: |
          RUN_NUMBER=$(cat run_number.txt)
          echo "RUN_NUMBER=$RUN_NUMBER" >> $GITHUB_ENV

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/argocd-node-app:v${{ needs.build.outputs.run_number }}  # Use run_number from the build job
